{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "electron": "1.0"
                },
                "useBuiltIns": "usage"
            }
        ]
    ]
}
